#maintitle {
  font-size: 72px;
  text-decoration: underline;
  text-align: center;
  color: #003C57;
  outline-style: dotted;
}

.section {
  background-color: powderblue;
  border: solid 1px black;
  margin: 2em;
  border-radius: .5em;
}

body {
  color: #002D40;
  font-size: 24px;
  background-color: azure; /*sets your background color - check out some more here http://davidbau.com/colors/ */
  text-align: center;
}

p {
  margin: 1em;
}

/* styling aided by https://www.w3schools.com/csS/css3_buttons.asp */
button {
  background-color: #003C57;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: .5em;
  display: inline-block;
  font-size: 16px;
  border-radius: .25em;
  text-decoration: none;
}

input {
	background-color: azure;
	border: 1px solid #003C57;
  height: 24px;
  font-size: 16px;
}
