#maintitle {
  /*font-size: 72px;*/
  /*font-size: 4vw;*/
  font-size: 6vh;
  text-decoration: underline;
  text-align: center;
  color: #003C57;
  outline-style: dotted;
}

.section {
  background-color: powderblue;
  border: solid 1px black;
  border-radius: .5em;
}

body {
  /*font-size: 24px;*/
  /*font-size: 1.5vw;*/
  font-size: 2.3vh;
  color: #002D40;
  background-color: azure; /* sets your background color - check out some more here http://davidbau.com/colors/ */
  text-align: center;
  font-family: sans-serif;
}

p {
  /*margin: .5em;*/
  /*margin: 1.2vw;*/
  margin: 1.5vh;
}

/* styling aided by https://www.w3schools.com/csS/css3_buttons.asp */
button {
  background-color: #003C57;
  border: none;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;

  /*
  padding: 15px 32px;
  margin: .5em;
  font-size: 16px;
  border-radius: .25em;
  */
  /*
  padding: .8vw 1vw;
  margin: .7vw;
  font-size: 1.2vw;
  border-radius: .3vw;
  */
  padding: 1vh 1.2vh;
  margin: .9vh;
  font-size: 2vh;
  border-radius: .6vh;
}

input {
	background-color: azure;
	border: 1px solid #003C57;
  /*
  height: 24px;
  font-size: 16px;
  */

  height: 2.5vh;
  font-size: 2vh;
}

img {
  width:5vh;
  height:auto;
}
